@import "tailwindcss";


.kumbh-sans {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "YOPQ" 300;
}

@theme {

    /* primary */
    --color-cust-orange: hsl(26, 100%, 55%);
    --color-cust-pale-orange: hsl(25, 100%, 94%);

    /* Neutral */
    --color-cust-blue-900: hsl(220, 13%, 13%);
    --color-cust-graysish-blue-800: hsl(219, 9%, 45%);
    --color-cust-grayish-blue-500: hsl(220, 14%, 75%);
    --color-cust-grayish-blue-200: hsl(223, 64%, 98%);

    /* font size */
    --text-para: 16px;

    /* 400:normal, 700:bold */
}

@layer base {
    button {
        @apply cursor-pointer;
    }

    p {
        @apply text-para;
    }
}

@layer components {
    .orange-btn {
        @apply font-bold text-black bg-cust-orange w-full text-center py-4 rounded-xl px-6 flex gap-4 items-center justify-center;
    }

    .carousel-img {
        @apply object-cover h-full w-full ;
    }

    .slide {
        @apply inset-0 hidden h-80;
    }

    .slide[data-active] {
        @apply inset-0 block h-80;
    }
}